certifi
chardet
click
Flask
gunicorn
idna
imbalanced-learn
itsdangerous
Jinja2
joblib==0.16.0
MarkupSafe
numpy
pandas
python-dateutil
pytz
requests
scikit-learn==0.23.2
scipy
six
sklearn
threadpoolctl
urllib3
Werkzeug
streamlit
matplotlib
seaborn
lime
plotly
